*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --green: rgb(17, 238, 5);
    --win-blocks: rgb(120, 220, 20);
}
body{
    color: var(--green);
    font-family:'Courier New', Courier, monospace;
    
}

h1{
    font-size: 54px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.container{
    padding: 40px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image:url(tac.png);
    background-size: cover;
}

#gameboard{
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.box{
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--green);
    font-size: 120px;
    border-radius: 2px solid;
    border-bottom: 2px solid;
    border-right: 2px solid;
}
.box:nth-child(3n){
    border-right: none;
    
}
.box:nth-child(6) ~ .box{
    border-bottom: none;
}

.box.animated{
    transition: all 1s ease-in-out 0.1s;
    font-size: 150px;
    
}

button.restart{
    padding: 8px 15px;
    border-radius: 20px;
    background-color:gold;
    color: #333;
    border-color:coral;
    font-size: 18px;
    font-weight: 600;
    transition: 200ms transform;
    margin-top: 75px;
}

button.restart:hover{
    cursor: pointer;
    transform: translate(-2px);
}




